<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/user/<%=data.id%>?_method=DELETE">
      <textarea name="username" id=""><%=data.username  %></textarea>
      <br>
      <textarea name="email" id="" placeholder="enter email"></textarea>
      <br>
      <input type="password" placeholder="enter password">
      <br>
      <button>Submit</button>
 </form>    
</body>
</html>